body{
    font-family: 'Poppins', sans-serif;
    
}

/* navbar  */
.img-logo{
    opacity: 0%;
}
.navbar{
    margin-top: 57px;
    margin-bottom: 91px;
}
.container-fluid{
    max-width: 1170px;
}
.navbar-collapse{
    max-width: 890px;
}

.dropdown-menu{
    padding: 32px;
    border: 0;
    border-radius: 10px;
}
.dropdown-menu[data-bs-popper]{
    left: -400%;
}
.menu-mid{
    left: -200% !important;
}
.dropdown-item{
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 250%;
    /* color: #021639; */
}


/* button  */
.btn{
    padding: 21px 45px;
    border-radius: 45px;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}
.btn-outline-primary {
    padding: 18px 33px;
    color: #F7931E;
    border-color: #F7931E;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}
.btn-primary {
    color: #fff;
    background-color: #F79A1F;
    border-color: #F79A1F;
    min-width: 200px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
}
.meet-us{
    font-weight: 500;
    text-decoration: none;
}
.store{
    background-color: #FFFFFF;
}
/* lightswitch  */
.form-check-input{
    border: none;
    background-color: transparent;
    height: 27px;
}
.form-check-input:focus{
    box-shadow: none;
}
.form-check-input:checked{
    background-color: transparent;
    border-color: transparent;
}
.form-switch .form-check-input{
    width: 27px;
    background-image: url('../images/icon_light_bulb.svg');
}
.form-switch .form-check-input:focus{
    background-image: url('../images/icon_light_bulb.svg');
}
.form-switch .form-check-input:checked{
    background-image: url('../images/icon_light_bulb_white.svg');
}


/* typography  */
h1{
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 105%;
    color: #03011C;
}
h2{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
    color: #03011C;
}
h3{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #03011C;
}
h4{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 178%;
    color: #03011C;
}
h5{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #021639;
}
h5.dropdown-item{
    color: #F7931E !important;
}

.p-18{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #021639;
}
.p-16{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #021639;
}

.text-opacity{
    opacity: 0.5;
}

.label-14{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 200%;
    color: #FFFFFF;
}

.big-title{
    font-style: normal;
    font-weight: normal;
    font-size: 88px;
    line-height: 150%;
    color: #91939A !important;
}
.big-text{
    font-style: normal;
    font-weight: normal;
    font-size: 108px;
    line-height: 150%;
    color: #FFFFFF !important;
}

/* color  */
.orange{
    color: #F7931E;
}

/* section  */
/* section hero  */
section.hero{
    background: url('../images/bg-hero.svg');
    background-repeat: no-repeat;
    /* background-size: auto; */
    background-position: center top;
}
section.hero .container{
    padding-bottom: 120px;
}
section.hero p{
    max-width: 408px;
}
.toolkit-wrap{
    padding: 35px 34px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    margin-bottom: 30px;
}
.icon-toolkit{
    width: 50px;
    height: 50px;
}
.logo-sponsor{
    width: 126px;
    height: 87px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: auto !important;
}
.sponsor1{
    background: url('../images/hilton-logo.png');
}
.sponsor2{
    background: url('../images/PizzaHut.png');
}
.sponsor3{
    background: url('../images/logo-matra.png');
}
.sponsor4{
    background: url('../images/logo-drk.png');
}
.sponsor5{
    background: url('../images/logo-hi.png');
}

/* section wedo  */
section.wedo {
    /* background: #F5FAFB; */
    padding: 225px 0px;
    margin-bottom: 120px;
    animation-name: backgroundColorPalette;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
section.wedo p{
    max-width: 836px;
}

/* section feature */
section.feature .row{
    margin-bottom: 120px;
}
section.feature img{
    max-height: 628px;
}

/* section supercharge  */
section.supercharge{
    background: #F5FAFB;
    padding: 140px 0px;
}
section.supercharge p{
    margin-bottom: 70px;
}

/* section getpaid  */
section.getpaid{
    padding: 200px 0;
}
.getpaid-wrap{
    padding: 20px 128px;
    background: linear-gradient(165.48deg, #AFB5FE -3.55%, #6B5EFF 109.95%);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

/* section paytriot-ads */
section.paytriot-ads .container{
    background: linear-gradient(190.58deg, #FFE95D -65.85%, #FF595D 110.58%);
    border-radius: 30px;
}
section.paytriot-ads .row{
    background: url('../images/bg-row-ads.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    border-radius: 30px;
}
section.paytriot-ads h2{
    font-weight: 600;
    line-height: 150%;
    color: #FFFFFF;
}
section.paytriot-ads .btn-outline-primary{
    border-color: #FFFFFF;
    background: #FFFFFF;
}

/* section customer-say  */
.cust-prof{
    width: 100px;
    height: 100px;
}

/* section footer  */
section.footer{
    padding: 100px 0;
}
.logo-footer{
    height: 72px;
    
}
.footer-brand{
    background: url('../images/img-logo.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    width: 218px;
    height: 72px;
}
section.footer p.label-14{
    font-weight: 300;
    line-height: 150%;
    color: #03011C;
    margin-bottom: 80px;
    max-width: 331px;
}
section.footer .label-14{
    font-weight: 300;
    line-height: 250%;
    color: #03011C;
}
section.footer span{
    font-weight: 600;
}
section.footer a{
    color: #03011C;
    text-decoration: none;
}
.icon-small{
    width: 25px;
    height: 25px;
    margin-right: 34px;
}
.icon1{
    background: url('../images/icon-facebook.svg');
}
.icon2{
    background: url('../images/icon-twitter.svg');
}
.icon3{
    background: url('../images/icon-linkedin.svg');
}
.icon4{
    background: url('../images/icon-youtube.svg');
}
.icon5{
    background: url('../images/icon-email.svg');
}
.trademarks{
    margin-top: 90px;
}
ul.nav-footer li{
    list-style: none;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 200%;
}
.contact-card{
    background: #FFFFFF;
    border-radius: 20px;
    opacity: 1;
    filter: drop-shadow(0px 7px 20px rgba(0, 0, 0, 0.05));
}
.supportedby{
    /* width: 86px;
    height: 86px; */
    background-repeat: no-repeat !important;
}
.supportedby.logo1{
    background: url('../images/logo-onthelist.svg');
}
.supportedby.logo2{
    background: url('../images/logo-mastercard.svg');
}
.supportedby.logo3{
    background: url('../images/logo-visa.svg');
}





/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .container{
        max-width: 1170px;
    }
}



/* dark-light mode  */
.bg-dark{
    background-color: #03011C !important;
}
.bg-light{
    background-color: #FFFFFF !important;
}
/* navbar  */
.logo-light{
    background: url('../images/img-logo-dark.svg');
}
.logo-dark{
    background: url('../images/img-logo.svg');
}
.text-light .navbar-nav .nav-link{
    color: #FFFFFF !important;
}
.text-dark .navbar-nav .nav-link{
    color: #021639 !important;
}
.bg-light .dropdown-menu{
    background-color: #FFFFFF;
}
.bg-dark .dropdown-menu{
    background-color: #03011C;
}
.text-dark .dropdown-item{
    color: #021639;
}
.text-light .dropdown-item{
    color: #FFFFFF;
}

/* typography  */

.text-light h1{
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 105%;
    color: #FFFFFF;
}
.text-light h2{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
    color: #FFFFFF;
}
.text-light h3{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
}
.text-light h4{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 178%;
    color: #FFFFFF;
}
.text-light h5{
    font-style: normal;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    color: #F7931E !important;
}

.text-light .p-18{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}
.label-14{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 200%;
    color: #FFFFFF;
}

/* section hero  */
.bg-light section.hero {
    background: url('../images/bg-hero.svg');
    background-repeat: no-repeat;
    /* background-size: auto; */
    background-position: center top;
}
.bg-dark section.hero {
    background: url('../images/bg-hero-dark.svg');
    background-repeat: no-repeat;
    /* background-size: auto; */
    background-position: center top;
}
.bg-light .sponsor1{
    background: url('../images/hilton-logo.png');
}
.bg-light .sponsor2{
    background: url('../images/PizzaHut.png');
}
.bg-light .sponsor3{
    background: url('../images/logo-matra.png');
}
.bg-light .sponsor4{
    background: url('../images/logo-drk.png');
}
.bg-light .sponsor5{
    background: url('../images/logo-hi.png');
}
.bg-dark .sponsor1{
    background: url('../images/hilton-logo-light.png');
}
.bg-dark .sponsor2{
    background: url('../images/PizzaHutLight.png');
}
.bg-dark .sponsor3{
    background: url('../images/logo-matra-light.png');
}
.bg-dark .sponsor4{
    background: url('../images/logo-drk-light.png');
}
.bg-dark .sponsor5{
    background: url('../images/logo-hi-light.png');
}
.bg-dark .toolkit-wrap{
    background: #13121D;
    box-shadow: 0px 8.57283px 42.8641px rgba(0, 0, 0, 0.05);
}

/* section wedo  */
.bg-dark section.wedo {
    background: #13121D;
}

/* section feature */

/* section supercharge */
.bg-dark section.supercharge{
    background: #1C1B2A;
}

/* section paytriot-ads  */
.bg-dark section.paytriot-ads .container{
    background: #F7931E;
    border-radius: 30px;
}

/* section footer */
.bg-dark .footer-brand{
    background: url('../images/img-logo-dark.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    width: 218px;
    height: 72px;
}
.text-light section.footer p.label-14{
    font-weight: 300;
    line-height: 150%;
    color: #F6F6F7;
    margin-bottom: 80px;
    max-width: 331px;
}
.text-light section.footer .label-14{
    font-weight: 300;
    line-height: 250%;
    color: #FFFFFF;
}
.text-light section.footer a{
    color: #F6F6F7;
    text-decoration: none;
}
.bg-dark .icon1{
    background: url('../images/icon-facebook-light.svg');
}
.bg-dark .icon2{
    background: url('../images/icon-twitter-light.svg');
}
.bg-dark .icon3{
    background: url('../images/icon-linkedin-light.svg');
}
.bg-dark .icon4{
    background: url('../images/icon-youtube-light.svg');
}
.bg-dark .icon5{
    background: url('../images/icon-email-light.svg');
}
.bg-dark .contact-card{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    filter: drop-shadow(0px 7px 20px rgba(0, 0, 0, 0.05));
}
.bg-dark .supportedby.logo3{
    background: url('../images/logo-visa-dark.svg');
}

@keyframes backgroundColorPalette {
    /* 0% {
      background: #ee6055;
    }
    25% {
      background: #60d394;
    } */
    50% {
      background: #aaf683;
    }
    /* 75% {
      background: #ffd97d;
    } */
    100% {
      background: #ff9b85;
    }
  }